
  <!-- main container -->

  <div class="container" ng-cloak>

  	<div class="row margin-md">

  		<div class="col-md-8 col-md-offset-2 text-document">

		    <h1> This is the About Page </h1>

		    <h3> Subheader </h3>

		    <p> You can put whatever you want in here. The paragraph font size is a bit larger so the content is more legible. The column occupies the center 2/3rds of the page so lines aren't too long.</p>

		    <div class="row">
			    <div class="col-sm-10 col-sm-offset-1">
				    <img src="data_local/sample-image.png"/>
				    <p class="caption">
				    	This is an image caption.
				    </p>
				  </div>
				</div>

		    <h3> Another Subheader </h3>

		    <p> This is the second paragraph.</p>

		  </div>

	  </div>



    <!-- end container -->
 
  </div>

