
  <!-- main container -->

  <div class="container" ng-controller="Main as main" ng-cloak>

 
    <!-- plot controls -->
    <div class="row margin-md">

        <div class="col-lg-2 margin-sm">
          <label>Plot Type</label>
          <select-menu model="main.request.plotType" options="main.forms.plotType"></select-menu>
        </div>

        <div class="col-lg-2 margin-sm">
          <label>Membership</label>
          <select-menu model="main.request.userType" options="main.forms.userType"></select-menu>
        </div>

        <div class="col-lg-2 margin-sm">
          <label>Type of Day</label>
          <select-menu model="main.request.dayType" options="main.forms.dayType"></select-menu>
        </div>

        <div class="col-lg-2 margin-sm">
          <label>Time of Day</label>
          <select-menu model="main.request.timeOfDay" options="main.forms.timeOfDay"></select-menu>
        </div>

        <div class="col-lg-2 margin-sm">
          <label>Distance</label>
          <select-menu model="main.request.distance" options="main.forms.distance"></select-menu>
        </div>

        <!-- <div class="col-lg-2 col-lg-offset-8"> -->
        <div class="col-lg-2 margin-sm">
          <button class="btn btn-primary btn-block" ng-click="main.updatePlot()">Update Plot</button>  
        </div>

    </div>

    <!-- Plot Table -->

    <div class="row margin-md">

      <div class="col-md-12">

        <!-- loading screen-->

        <div class="plot-loading" ng-show="main.status().loading">
          <div class="spinner spinner-dark">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>

        <!-- error message -->

        <div class="plot-error" ng-show="main.status().error">
          <h4>ERROR</h4>
          <p>{{main.status().error}}</p>
        </div>

        <!-- plot image -->

        <img 
          class="plot-image shadow"
          ng-click="main.popup.visible=true" 
          ng-hide="main.status().loading || main.status().error" 
          ng-src="{{main.url && main.url || ''}}" />

        <!-- popup directive: creates a dark transparent overlay that hides when clicked -->
        <!-- any html can go inside -->

        <popup visible="main.popup.visible">
          <div class="col-sm-6 col-sm-offset-3">
            <img class="plot-image" ng-src="{{main.popup.url}}" />
          </div>
        </popup>

      </div>

    </div>





    <!-- end container -->
 
  </div>

