
  <!-- main container -->

  <div class="container" ng-controller="Main as main" ng-cloak>

    <!-- View -->
 
    <div class="row margin-md">

        <div class="col-md-2 margin-sm">
          <p>Choose a View:</p>
        </div>

        <div class="col-md-4 margin-sm">
          <select-menu model="main.request.plotTypes" options="main.forms.plotGroups"></select-menu>
        </div>

        <div class="col-md-2 margin-sm">
          <button class="btn btn-primary btn-block" ng-click="main.updatePlot()">Update Plot</button>  
        </div>

    </div>

   <!-- Subset by Trip -->
    <div class="row margin-md">

        <div class="col-md-2 margin-sm">
          <p>Subset by Trip:</p>
        </div>

        <div class="col-md-4 margin-sm">
          <select-menu model="main.request.stationId" options="main.forms.stationId"></select-menu>
        </div>

        <div class="col-md-2 margin-sm">
          <select-menu model="main.request.dayType" options="main.forms.dayType"></select-menu>
        </div>

        <div class="col-md-2 margin-sm">
          <select-menu model="main.request.timeOfDay" options="main.forms.timeOfDay"></select-menu>
        </div>

        <div class="col-md-2 margin-sm">
          <select-menu model="main.request.distance" options="main.forms.distance"></select-menu>
        </div>

    </div>

   <!-- Subset by User -->
    <div class="row margin-md">

        <div class="col-md-2 margin-sm">
          <p>Subset by User:</p>
        </div>

        <div class="col-md-2 margin-sm">
          <select-menu model="main.request.userType" options="main.forms.userType"></select-menu>
        </div>

        <div class="col-md-2 margin-sm">
          <select-menu model="main.request.age" options="main.forms.age"></select-menu>
        </div>

        <div class="col-md-2 margin-sm">
          <select-menu model="main.request.gender" options="main.forms.gender"></select-menu>
        </div>

    </div>

    <!-- Plot Table -->

    <div class="row margin-md plot-table">

      <div class="col-md-12">

        <!-- loading screen-->

        <div class="plot-loading" ng-show="main.status().loading">
          <div class="spinner spinner-dark">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>

        <!-- error message -->

        <div class="plot-error" ng-show="main.status().error">
          <h4>ERROR</h4>
          <p>{{main.status().error}}</p>
        </div>

        <!-- plot image -->

<!--         <img 
          class="plot-image shadow"
          ng-click="main.popup.visible=true" 
          ng-hide="main.status().loading || main.status().error" 
          ng-src="{{main.url && main.url || ''}}" />
 -->

        <div class="margin-sm" ng-repeat="plot in main.returnData.plotTypes" ng-class="main.plotTableClass()">
          <img
            class="plot-image shadow"
            ng-click="main.clicked(main.returnData.relBase,plot)"
            ng-hide="main.status().loading || main.status().error"
            ng-src="{{main.returnData.relBase}}_{{plot}}.png" />
        </div>

        <!-- popup directive: creates a dark transparent overlay that hides when clicked -->
        <!-- any html can go inside -->

        <popup visible="main.popup.visible">
          <div class="col-sm-6 col-sm-offset-3">
            <img class="plot-image" ng-src="{{main.popup.url}}" />
          </div>
        </popup>

      </div>

    </div>





    <!-- end container -->
 
  </div>

