/* IMPORTS .................................................................... */

@import url('../UI/css/bootstrap.min.css');

@import url('../bower_components/angular-slider/slider.css');

@import url('../UI/css/Mazama_databrowser_base.css');



/* ELEMENTS ..................................................................... */
/* Unclasses elements */


/* RESET .....................................................................*/
/* Override rules from previous CSS files */

/* Tigten up the rows */
.margin-md {
    margin-bottom: 0;
}

/* Tighten up the columns */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}

/* Tigten up the buttons */

.btn {
    padding: 2px 8px;
    font-size: 1.2em;
}

/* Tighten up the paragraphs on the about page*/

.text-document p {
    margin-bottom: 1.0em;
}

/* OBJECTS ...................................................................*/
/* Abstract classes */



/* COMPONENTS ................................................................*/
/* Specific components */

/* Header */


/* Navbar */

/* Use ProntoTurquoise in the header */

.navbar-default {
  background-color: #68D2DF; /*ProntoTurquoise*/
  border-bottom: 2px solid #043B49; /*ProntoSlate*/
}

/* navbar menu items */
.navbar-default .navbar-nav > li > a {
  font-size: 18px;
  /*line-height: 2em;*/
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
  text-decoration: underline;
}

/* Controls */

/* make row-labels bold */
.row-label {
  font-weight: bold;
}

/* adds standard blue to buttons */
.btn-primary {
  background-color: #68D2DF; /*ProntoTurquoise*/
  border-color: #043B49; /*ProntoSlate*/
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #90DC6B; /*ProntoGreen*/
}


/* Plots */

/* More space above the plot table */

.plot-table {
  margin-top: 20px;
}

/* Mapping */
